.feed_container {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 2rem;
  width: 80%;
  margin: auto;
  height: 87.5vh;
}

.No_post {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  max-width: 70%;
  text-align: center;
  margin: auto;
  height: 70vh;
}

.No_post h1,
.users h1 {
  margin-top: 3rem;
  font-size: 3rem;
  font-weight: 400;
}
.No_post p {
  font-size: 2rem;
  line-height: 2.6rem;
  text-align: center;
  margin-top: 1rem;
  font-weight: 100;
  opacity: 0.7;
}

.l_post {
  margin: auto;
  width: fit-content;
  margin-top: 3rem;
  font-size: 3.5rem;
  font-weight: 200;
}

.users ul {
  margin-top: 1rem;
  width: 300px;
  max-height: 40vh;
  overflow: scroll;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  border-radius: 0.9rem;
  overflow-x: hidden;
  box-shadow: rgba(0, 0, 0, 0.116) 0px -50px 36px -28px inset;
}

.users ul::-webkit-scrollbar {
  width: 10px;
}

.users ul::-webkit-scrollbar-track {
  background-color: #e8e8ee;
}

.users ul::-webkit-scrollbar-thumb {
  background-color: #222121;
  border-radius: 6px;
}

@media screen and (max-width: 767px) {
  .l_post {
    margin-top: 3rem;
    font-size: 2.5rem;
  }
  .post {
    width: 375px;
    margin: 1rem auto;
    padding: 0.5rem;
  }
  .No_post {
    width: 400px;
    font-size: 1rem;
  }
  .singleUser {
    flex-direction: column;
    font-size: -1.5rem;
    text-align: center;
    margin: 0.3rem;
    padding: 0.4rem;
  }

  .No_post h1,
  .users h1 {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
  .No_post p {
    font-size: 1.2rem;
    line-height: 1.5;
  }
}
@media screen and (max-width: 620px) {
  .feed_container {
    flex-direction: column;
    width: 100%;
    background-color: #eee;
  }
  .feed {
    width: 100%;
  }
  .users {
    width: 100%;
  }
  .users ul {
    width: 100%;
    margin: 0 1rem;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    height: fit-content;
    border-radius: 0;
  }

  .users ul::-webkit-scrollbar {
    height: 5px;
  }
  .l_post {
    margin-top: 0rem;
  }
}
@media screen and (max-width: 540px) {
  .No_post {
    display: block;
    max-width: 100%;
  }
  .No_post h1,
  .users h1 {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  .No_post p {
    font-size: 1.2rem;
    line-height: 1.5;
  }
}
@media screen and (max-width: 480px) {
  .post {
    width: 15rem;
  }
  .No_post {
    /* display: block; */
    /* max-width: 100%; */
    width: 300px;
  }
  .No_post h1,
  .users h1 {
    font-size: 1rem;
    margin-top: 1rem;
  }
  .No_post p {
    font-size: 1rem;
    line-height: 1.5;
  }
}
