.profile {
  /* width: 800px; */
  margin: auto;
  margin-top: 3rem;
}

.profile_header {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.profile_header .profileImg {
  border-radius: 50%;
  margin-right: 1rem;
  width: 200px;
  height: 200px;
}
.profile_header > div span {
  display: block;
  margin: 0.3rem;
  color: #4d4d4d;
}
.profile_header span:nth-of-type(1) {
  font-size: 4rem;
  font-weight: 700;
}

.profile_header span:nth-of-type(2) {
  margin-bottom: 1rem;
}

.profile_header .edit_img {
  position: relative;
  cursor: pointer;
}

.profile_header .edit_img span {
  position: absolute;
  font-size: 1rem;
  width: 160px;
  top: 100%;
  left: 0;
  padding: 0.3rem;
  background-color: #007bff;
  border-top-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  color: #fff;
  font-weight: 400;
  text-align: center;
  visibility: hidden;
  transition: all ease-in-out 0.3s;
}
.edit_img:hover span {
  visibility: visible;
}
.MuiBox-root {
  display: contents !important;
}

.MuiButtonBase-root {
  font-size: 2rem !important;
  margin-right: 2rem !important;
  text-transform: capitalize !important;
}

.Mui-selected {
  color: #007bff !important;
}
.MuiTabs-indicator {
  background-color: #007bff !important;
}
.btns {
  display: flex;
  gap: 0.5rem;
  width: fit-content;
}
.chat_btn {
  width: 50%;
  width: 150px;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.follow button {
  width: 150px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: white;
}
.follow button:hover,
.chat_btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.upload_photo {
  position: absolute;
  width: fit-content;
  display: flex;
  flex-direction: column;
  background-color: #292929;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 500px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.upload_photo img {
  width: 100%;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
.upload_photo div {
  display: flex;
  gap: 10px;
}
.upload_photo button {
  margin: auto;
  width: 60%;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  color: white;
  padding: 0.3rem;
  background-color: #28a745;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  transition: all ease-in-out 0.3s;
}
.upload_photo button:hover {
  cursor: pointer;
  opacity: 0.5;
}
.upload_photo div button:nth-of-type(2) {
  background-color: rgb(211, 22, 22);
}
@media screen and (max-width: 767px) {
  .profile_header .profileImg {
    margin-right: 0.5rem;
    width: 150px;
    height: 150px;
  }
  .profile_header span:nth-of-type(1) {
    font-size: 2.5rem;
  }
  .profile_header span:nth-of-type(2) {
    font-size: 1rem;
  }
  .profile_header .edit_img span {
    font-size: 1rem;
  }
  .MuiTab-root {
    width: 100px;
  }
}

@media screen and (max-width: 375px) {
  .profile_header .profileImg {
    margin-right: 0.2rem;
    width: 100px;
    height: 100px;
  }
  .profile_header span:nth-of-type(1) {
    font-size: 1.5rem;
  }
  .profile_header span:nth-of-type(2) {
    font-size: 0.8rem;
  }
  .profile_header .edit_img span {
    font-size: 0.8rem;
  }
  .MuiTab-root {
    width: 80px;
  }
  .MuiTab-wrapper {
    font-size: 1rem;
  }
  .follow button {
    width: 100px;
    font-size: 0.9rem;
  }
  .chat_btn {
    width: 111px;
    font-size: 0.9rem;
  }
  .profile_header .edit_img span {
    font-size: 0.5rem;
    width: 100px;
  }
}
